<h2>About PDX Rentals</h2>

<p>The PDX Rentals website was created to explore and practice using Ember.js. This project allows us to imagine traveling to the city of Portland while simultaneously traversing the pathways of the Ember framework.</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
